@import '@/style.scss';

#navbarMenu{
	background-color: $color-dark-gray;
	border-bottom: 4px solid $color-dark-border;
	padding: 15px 50px;

	#logoNavbarMenu {
		height: 40px;
		width: 40px;
	}

	#headerLinks {
		a {
			color: $color-medium-yellow;
			margin: .75rem;
			padding-bottom: .25rem;
			text-decoration-line: none;
			transition: .5s;

			&:hover {
				color: $color-white;
				border-bottom: 1px double $color-white;
			}
		}
	}
}
