@import '@/style.scss';

#footerMain {
	align-items: center;
	background-color: $color-dark-gray;
	border-top: 4px solid $color-dark-border;
	bottom: 0;
	color: $color-medium-yellow;
	display: flex;
	height: 150px;
	justify-content: center;
}
