@import '@/style.scss';

#mainBanner {
	align-items: center;
	background-image: url("../../../public/img/burger.jpg");
	background-position: 0 -300px;
	background-size: cover;
	display: flex;
	height: 430px;
	justify-content: flex-start;
	width: 100%;

	h1 {
		color: $color-dark-gray;
		font-size: 50px;
		padding: 1rem 2rem;
		background-color: $color-medium-yellow;
		margin-left: 6rem;
		box-shadow: 4px 4px $color-dark-border;
	}
}
